# 開発キャッシュ系
__pycache__/
*.pyc
*.pyo

# Node & Pythonパッケージ
node_modules/
theme/static_src/node_modules/
*.tar
*.zip
*.log

# OS/IDE固有ファイル
.DS_Store

# バージョン管理無視
.git/
.git

# 環境ファイル
.env

# 一時/ログ
tmp/
log/


