<!-- templates/map/test.html -->
{% extends "base.html" %}

{% block title %}Map test{% endblock %}

{% block main %}
<h2>繝悶・繧ｹ讀懃ｴ｢test迚・/h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">讀懃ｴ｢</button>
</form>
<!-- 讀懃ｴ｢邨先棡・育岼逧・慍譯亥・・峨′縺ゅｌ縺ｰ陦ｨ遉ｺ -->
{% if destination %}
    <div id="destination">
        {% if destination|length > 1 %}
            {% for line in destination %}
                <p>{{ line }}</p>
            {% endfor %}
        {% else %}
            <p>{{ destination }}</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
