{% load static%}
<!docotype html>
<html lang = ja>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    {# --タイトル-- #}
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href = "{% static 'css/styles' %}">
    <style>
        body{
            background-color: #f5f5f5
        }
    </style>
    {# --css-- #}
    {% block extra_css %}{% endblock %}
    </head>

    <body>
        {# --メインコンテンツ-- #}
        {% block main %}{% endblock %}

        {# --フッター-- #}
        {% block footer %}
            {% include "_footer.html"%}
        {% endblock %}

        <script src = "{% static 'js/script.js'%}"></script>

        {# --JavaScript-- #}
        {% block extra_js %} {% endblock %}
    </body>
</html>

