{% load static%}
<!DOCTYPE html>
<html lang = ja>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# --タイトル-- #}
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    {# --css-- #}
    {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% include "_header.html"%}
        {# --メインコンテンツ -- #}
        {% block main %}{% endblock %}

        {# --フッター-- #}
        {% block footer %}
            {% include "_footer.html"%}
        {% endblock %}

        <script src = "{% static 'js/script.js'%}"></script>

        {# --JavaScript-- #}
        {% block extra_js %} {% endblock %}
    </body>
</html>
